body{
    background-color: black;
    color: grey;
}
.window{
    height: 60px;
    width: 200px;
    background-color: gold;
    font-size: 30px;
    color: black;
    padding: 10px;
    margin: 0 auto;
    overflow: hidden;
}

.keys{
    margin: 10px;
}

h1{
    color: white;
    text-align: center;
}